/* 
COLORS:

#00c2bf
#2F4550
#8AFFC1

*/

body {
  margin: 0;
  color: #2F4550;
  background: #FF8684;
  font-family: 'Open Sans', sans-serif;
}

.spotlight {
  background: #00c2bf;
  /* For the radical gradient first you select the shape and position */
  /* the first number is for the horizontal position */
  /* the second number is for the vertical position */
  /* Next you handle the colors */
  /* the percentages with the colors determine the amount of space that that color will spread over */
  /* set the second to a very low number to see the target */

  /* background-image: radial-gradient(farthest-corner at 26% 50%, #00c2bf 15%, #00000040 150%); */
  /* background-image: radial-gradient(closest-corner at 27.5% 50%, #00c2bf 10%, #00000040 90%) */
  /* background-image: radial-gradient(farthest-side at 28% 50%, #00c2bf 10%, #00000040 90%) */
  /* background-image: radial-gradient(closest-side at 28% 50%, #00c2bf 10%, #00000040 90%) */

  height: 100vh;
}

h1 {
  font-weight: 300;
}

.signature {
  height: 6vh;
  width: 15vw;
  margin-top: 0.7vh;
  animation: signature-no-hover 0.6s;
  animation-fill-mode: forwards;
}

.signature:hover {
  height: 6vh;
  width: 15vw;
  margin-top: 0.7vh;
  filter: invert(1);
  animation: signature-hover 0.6s;
  animation-fill-mode: forwards;
}

@keyframes signature-hover {
  0% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}

@keyframes signature-no-hover {
  0% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}

.signature-invert {
  height: 6vh;
  width: 15vw;
  margin-top: 0.7vh;
  filter: invert(1);
}

.navbar {
  padding-top: 2vh;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.nav-left {
  margin-left: -8vw;
}

.nav-center {
  width: 40vw;
  margin-left: -12vw;
  display: flex;
  justify-content: space-evenly;
}

.nav-right {
  margin-right: -8vw;
}

.navbar-link {
  color: #2F4550;
  text-decoration: none;
  font-size: 1.5em;
  animation: btn-no-hover 0.6s;
  animation-fill-mode: forwards;
}

.navbar-link:hover {
  animation: btn-hover 0.3s;
  animation-fill-mode: forwards;
}

.selected-nav {
  color: #DCEDFF;
  text-decoration: none;
  font-size: 1.5em;
  animation: btn-hover 0.6s;
  animation-fill-mode: forwards;
}

@keyframes btn-no-hover {
  0% {
    color: #DCEDFF;
  }
  100% {
    color: #2F4550;
  }
}

@keyframes btn-hover {
  0% {
    color: #2F4550;
  }
  100% {
    color: #DCEDFF;
  }
}

.banner-container {
  height: 90vh;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.banner {
  height: 20vh;
  width: 40vw;
  font-size: 3em;
  margin: 30vh auto auto auto;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

.banner-about {
  /* height: 80vh; */
  width: 40vw;
  font-size: 1.5em;
  margin: auto;
  overflow: scroll;
  }

.react-icon-svg {
  color: #2F4550;
  text-decoration: none;
  margin-top: 6vh;
  font-size: 2em;
  animation: btn-no-hover 0.6s;
  animation-fill-mode: forwards;
}

.react-icon-svg:hover {
  animation: btn-hover 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.picture-of-me {
  height: 140%;
  margin-right: -0.2vw;
}

.picture-of-menobeard {
  height: 160%;
  margin-left: -10vw;
  
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}

.picture-of-bab {
  height: 90%;
  margin-left: 5vw;
  margin-top: 14vh;
}

.fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.slow-fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

/* .banner-content {
  display: flex;
} */

/* .banner-underline {
  border: 0;
  height: 0.2vh;
  width: 20vw;
  background-image: linear-gradient(90deg,#D1D1D100,#D1D1D175,#D1D1D100);
} */
