body {
    margin: 0;
    color: #D1D1D1;
}

.banner {
    background: #28262C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerUnderline {
    border: 0;
    height: 0.5vh;
    background-image: linear-gradient(90deg,#D1D1D100,#D1D1D175,#D1D1D100);
}