body {
  background: #28262C;
  margin: 0;
  color: #D1D1D1;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-link {
  color: #D1D1D1;
  text-decoration: none;
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  width: 40vw;
  justify-content: space-around;
}

.banner-underline {
  border: 0;
  height: 0.2vh;
  width: 20vw;
  background-image: linear-gradient(90deg,#D1D1D100,#D1D1D175,#D1D1D100);
}

